# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Entorno virtual
.venv
venv/
.env
env/
ENV/

# Archivos generados por python
__pycache__/

# Base de datos
*.sqlite3

# Migraciones de django
**/migrations/**
!**/migrations
!**/migrations/__init__.py