.tabla-toronja > thead{
    background-color: #FF785A;
}
.tabla-naranja > thead{
    background-color: #FFAA5A;
}
th {
    color: white !important;
    text-transform: uppercase;
}

.tabla tr > td {
    max-width: 150px !important;
}
.tabla {
    width: 85vw;
}
