.block {
    padding: 20px;
    width: 15vw;
    min-width: 200px;
    max-height: 270px;
    background-color: #ECECEC;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.block > img {
    width: 150px;
    height: 150px;
}

.logos {
    width: 20vw;
    max-width: 280px;
    margin: 20px;
    height: auto;
}