.block {
    padding: 20px;
    width: 15vw;
    background-color: #ECECEC;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}